@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --box-shadow: 0 1px 3px rgba(5, 5, 5, 0.12), 0 1px 2px rgb(17, 16, 16);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #dadada;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    flex-direction: column;
    width: 60%;
    height: 80%;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 80%;
    min-height: 80%;
    box-shadow: 5px 5px 20px 2px #b6b6b6;
    background-color: #ffffff;
    object-fit:scale-down;
    margin: 50px;
    border-radius: 15px;
}
h1{
    letter-spacing: 1px;
    margin: 1em;
}

h3{
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

h4{
    margin: 0;
    text-transform: uppercase;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inline{
    display: inline-flex;
    justify-content: space-between;
}
.inc-exp-container {
    background: linear-gradient(220.55deg, #DD7BFF 0%, #FF6C6C 100%);
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
    border-radius: 15px;
}
.inc-exp-container > div{
    flex: 1;
    text-align: center;
}
.money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}
.money.in,
.money.out,
#balance{
    color: #ececec;
}

.tooltip {
    font-size: 10px;
}
label {
    display: inline-block;    
    margin: 10px 0;
}

input[type='text'], 
input[type='number'] {
    border: 1px solid #dedede;
    border-radius: 15px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    background-color: #f4f4f4;
}

.btn {
    background: linear-gradient(220.55deg, #DD7BFF 0%, #FF6C6C 100%);
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    border-radius: 15px;
    display: block;
    font-size: 16px;
    margin: 1.5rem 0 1.5rem;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.btn:focus, .delete-btn:focus {
    outline: 0;
}
.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #ebebeb;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.list li.in{
 
    border-radius: 15px;
    background-color: #DD7BFF;
}

.list li.out{

    border-radius: 15px;
    background-color: #FF6C6C;
}

.list li span{
    color: #ececec;
}
.delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top:50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3 ease;
}

.list li:hover .delete-btn {
    opacity: 1;
}


